body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0022;
    width: 7200px;
    height: 10800px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2500px;
    text-align: center;
    letter-spacing: 50px;
}